@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100&family=Roboto:wght@100;400&display=swap');
:root{
--jasmine: #FFD78Aff;
--sunset: #FDC77Bff;
--fawn: #FBB76Bff;
--sandy-brown: #FAA75Cff;
--sandy-brown-2: #F8964Cff;
--pumpkin: #F6863Dff;
--pumpkin-2: #F4762Dff;
}

body,html{
    padding: 0;
    margin: 0;
    background-image: url(mountains-8242910.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.navigation-bar{
    position : fixed;
    width: 100%;
    /* background-color: #3B3C36; */
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', monospace;
  justify-content: space-between;
  align-items: center;
}
#site-logo{
    height: 100px;
    width: 150px;
}
#left{
    margin-left: 5%;
}

#right{
    margin-right: 15%;
}

nav a {
    text-decoration: none;
    width: max-content;
    height: max-content;
    flex-grow: 1;
    /* background-color: #E5E4E2; */
}

nav a:visited {
    color: var(--jasmine);
}
nav h3:hover{
    color: chocolate;
    font-size: x-large;
    font-weight: bold;
}
a h2{
    margin-left: 5%;
    color:white;
}
header h2{
     color:#3B3C36;
}
#title{
    text-align: center;
    font-family: 'Raleway',sans-serif ;
    font-weight: bold;
    font-size: xx-large;
    color:#3B3C36;
    padding-top: 70px;
}
.resume1{
    color:#3B3C36;
}
.resume2{
    color: #E5E4E2;
}
li,p{
    margin: 5px;
    line-height: 1.5;  
}
h3{
    margin-left: 2%;
}
.filling-form,#personal-description{
    text-align: center;
    line-height: 1.5;
    font-size: large;
    color:#3B3C36;   
}
.resume-image{
    width: 250px;
    height: 250px;
    margin-left: 3%;
    margin: 20px;
}
iframe{
    display: flex;
}
tr{
    align-items: center;
}